* {
    box-sizing: border-box;

    --color-fg: #854d14;
    --color-bg: #fff6e5;

    --color-fg-text: black;
    --color-bg-text: black;
}

html {
    font-size: 12px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg-text);
    margin: 1% 1%;
}

h1, h3 {
    font-family: 'Bookman', Bodoni, "Times New Roman", serif;
}

header {
    position: sticky;
    display: block;
    margin-bottom: 10px;
}

header h1 {
    color: var(--color-fg);
    text-shadow: 1px 1px 3px #918b80;
}

#switch {
    height: 3rem;
}

#btnAdd {
    width: 100%;
    min-height: 2rem;
    height: 100%;
    background-color: var(--color-fg);
    color: var(--color-bg);
    border: none;
    border-radius: 12px;
    font-size: larger;
    font-weight: bolder;
}

#formAdd {
    margin-top: 10px;
    display: none;
    width: 100%;
    height: 100%;
    gap: 1ch;
    justify-content: space-around;
}

#formAdd label {
    display: flex;
    flex-flow: column;
}

#formAdd input {
    border-radius: 12px;
    border: none;
}


.lblName {
    flex: 2 2 0;
    min-width: 4ch;
}

.lblFixed {
    flex: 0 0 0;
    width: min-content;
}

.lblFixed input {
    min-width: 1ch;
    width: 7ch;
    flex: 0 0 0;
}

.lblFixed input[type='checkbox'] {
    width: 3ch;
    flex: 0 0 0;
}

#formAdd button {
    min-width: 6ch;
    flex: 1 1 0;

    background-color: var(--color-fg);
    color: var(--color-bg);
    border-radius: 12px;
    border: none;
    font-weight: bold;
}

#shelf {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    background-color: var(--color-fg);
    color: var(--color-bg);
    border-radius: 20px;
    max-width: 200px;
    min-height: 320px;
    padding: 4px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3ch;
}

#cardtplt {
    display: none;
}

.card p {
    margin: 0;
    padding: 0;
}

.card .bookstatus {
    display: flex;
    align-items: center;
}

.card input[type='checkbox'] {
    margin: 0 4px 0 0;
}



.card button {
    display: block;
    width: 95%;
    padding: auto;
    margin: 5px auto;
    color: var(--color-fg);
    background-color: var(--color-bg);
    border-radius: 4px;
    font-weight: bold;
}

.cover {
    height: 220px;
    width: 190px;
    margin: 5px auto;
    border: var(--color-bg) 2px solid;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nocover {
    font-size: 120px;
    text-align: center;
    width: 1.1em;
    color: var(--color-fg);
    background-color: var(--color-bg);
    font-family: Bookman, 'Times New Roman', serif;
    font-weight: bolder;
    border-radius: 50% 50%;

}

.bookTitle {
    margin: 4px 0 auto 0;
    color: var(--color-bg);
}


.bookAuthor {
    font-style: italic;
}