* {
    box-sizing: border-box;
    --color-fg: peru;
    --color-bg: #fcf0df;
    --color-fg-text: black;
    --color-bg-text: black;

}

body {
    background-color: var(--color-bg);
}

p, h3 {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    display: block;
}

#switch {
    height: 3vh;
}

#btnAdd {
    width: 100%;
    min-height: 2rem;
    height: 100%;
    padding: auto;
    margin: auto;
}

#formAdd {
    margin-top: 10px;
    display: none;
    width: 100%;
    gap: 1ch;
    justify-content: space-evenly;
}

#formAdd input {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    width: 100%;
    text-wrap: nowrap;
}

#formAdd input .nopages {
    flex-basis: 9ch;
    flex-grow: 0;
}

#shelf {
    margin-top: 3rem;
}

.card {
    background-color: var(--color-fg);
    border-radius: 20px;
    max-width: 200px;
    height: 320px;
    padding: 2px;
}

.card button {
    display: block;
    width: 95%;
    padding: auto;
    margin: 5px auto;
}

.cover {
    height: 67%;
    width: 190px;
    margin: 5px auto;
    border: var(--color-bg) 2px solid;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nocover {
    font-size: 120px;
    text-align: center;
    width: 1.1em;
    color: var(--color-fg);
    background-color: var(--color-bg);
    font-weight: bolder;
    border-radius: 50% 50%;

}